---
import type { GetStaticPaths } from 'astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PageTitle from '../../components/PageTitle.astro';
import { Image } from 'astro:assets';
import eventos from '../../data/eventos.json';
import { getEventBySlug } from '../../services/eventos';

export const getStaticPaths = (() => {
  return eventos.map((evento) => ({
    params: {
      slug: evento.slug
    }
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

const event = getEventBySlug(slug);
---

<BaseLayout>
  <section
    class="flex flex-col items-center gap-y-8 max-w-5xl mx-auto pt-8 lg:pt-10"
  >
    <PageTitle title={event.name} />
    <Image
      src={event.thumbnail}
      alt={event.name}
      width={576}
      height={300}
      class="border-2 border-black"
    />
    <div
      set:html={event.description}
      class="max-w-xl mx-auto text-xl [&_p]:mb-4"
    />
  </section>
</BaseLayout>
