---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PageTitle from '../../components/PageTitle.astro';
---

<BaseLayout title="El pueblo">
  <section class="pt-24 lg:pt-32 flex flex-col items-center">
    <PageTitle
      title="El pueblo"
      underlineClasses="bottom-2 left-0 -right-4 h-3/5 bg-red-300"
    />
  </section>
</BaseLayout>
