---
import BaseLayout from '../layouts/BaseLayout.astro';
import BaseLink from '../components/BaseLink.astro';
import HeroSection from '../components/HeroSection.astro';
import SectionTitle from '../components/SectionTitle.astro';
import PuebloSection from '../components/PuebloSection.astro';
import EventsSection from '../components/EventsSection.astro';

import { Image } from 'astro:assets';
import aboutFiestasSrc from '../assets/cohetes.jpeg';

const pageDescription =
  'Fiestas Patronales de Guájar Alto 2024: Tradición, devoción y diversión. ¡Descubre la magia de este evento único!';
---

<BaseLayout title="Inicio" description={pageDescription}>
  <HeroSection />
  <!-- <section class="w-full">
    <article class="max-w-2xl lg:max-w-5xl mx-auto">
      <HighlightedEventSection event={highlightedEvent} />
    </article>
  </section> -->
  <section class="w-full bg-gray-10 py-12">
    <div
      class="flex flex-col items-center gap-y-8 lg:gap-y-12 max-w-2xl lg:max-w-5xl mx-auto px-4"
    >
      <SectionTitle title="¡Vive las fiestas!" />
      <article class="flex flex-col-reverse lg:flex-row gap-x-12 gap-y-8">
        <div
          class="flex flex-1 flex-col justify-start lg:justify-center gap-y-4 text-lg"
        >
          <p>
            ¡Bienvenidos a las fiestas patronales de Guájar Alto, en Los
            Guájares, en la Costa Tropical de Granada! Estas celebraciones, que
            tienen lugar del <strong>14 al 16 de agosto</strong>, son un
            vibrante homenaje a la Virgen de la Aurora, patrona de nuestro
            pueblo. Durante tres días repletos de alegría y devoción, Guájar
            Alto se llena de vida y color.
          </p>
          <p>
            Únete a nosotros para celebrar con pasión las fiestas patronales de
            Guájar Alto. ¡Te esperamos con los brazos abiertos!
          </p>
        </div>
        <div
          class="flex-1 w-full overflow-hidden aspect-video lg:aspect-square shadow-md rounded-2xl"
        >
          <Image
            src={aboutFiestasSrc}
            alt="Fiestas"
            width={620}
            height={300}
            fetchpriority="high"
            class="object-cover w-full"
          />
        </div>
      </article>
      <BaseLink link="/fiestas" text="Ver el programa de fiestas" />
    </div>
  </section>
  <section class="w-full bg-brown-90 py-12 text-white">
    <PuebloSection />
  </section>
  <section class="w-full bg-gray-20 py-12">
    <EventsSection />
  </section>
</BaseLayout>
