---
import BaseLayout from '../layouts/BaseLayout.astro';
import EventCard from '../components/EventCard.astro';

import { getNextEvents } from '../services/eventos';

import { Image } from 'astro:assets';
import bgImageSrc from '../assets/jurite-modified.png';

const eventsList = getNextEvents({ limit: 3 });
---

<BaseLayout title="Fiestas">
  <section
    class="h-auto w-full flex flex-col lg:grid grid-cols-1 lg:grid-cols-2 grid-flow-col lg:grid-rows-2 gap-y-8 lg:gap-y-0 gap-x-8 pt-12 lg:pb-12 lg:px-8"
  >
    <div class="flex flex-col justify-start row-span-1 lg:col-span-1">
      <h1
        class="font-space text-5xl sm:text-7xl uppercase tracking-wide leading-none"
      >
        <span class="relative">
          <span
            class="block absolute bottom-6 -left-1 -right-4 h-2/3 skew-y-1 bg-yellow-200"
          ></span>
          <span class="relative">Fiestas</span>
        </span>
        <br />
        <span class="relative">
          <span
            class="block absolute bottom-2 left-2 right-2 h-2/3 -skew-y-1 bg-yellow-200"
          ></span>
          <span class="relative">Patronales</span>
        </span>
        <br />
        <span class="relative">
          <span
            class="block absolute bottom-0 -left-1 -right-1 h-2/3 -skew-y-2 bg-yellow-200"
          ></span>
          <span class="relative">2024</span>
        </span>
      </h1>
    </div>
    <div class="flex flex-col justify-center row-span-1 lg:justify-end">
      <h2 class="font-space text-3xl sm:text-5xl uppercase">
        <span>14 - 16 Agosto</span>
        <br />
        <span>Guájar Alto</span>
      </h2>
    </div>
    <div
      class="lg:row-span-2 bg-yellow-200 h-64 lg:h-auto lg:max-w-xl lg:ml-auto w-full overflow-hidden aspect-video lg:aspect-square border-2 border-black"
    >
      <Image
        src={bgImageSrc}
        alt="Fiestas"
        width="480"
        height="300"
        fetchpriority="high"
        class="object-cover w-full aspect-video lg:aspect-square"
      />
    </div>
  </section>
  <section
    class="flex flex-col items-center gap-y-12 py-12 w-full max-w-2xl lg:max-w-5xl mx-auto"
  >
    <h3 class="font-space text-4xl lg:text-6xl">
      <span class="relative">
        <span
          class="block absolute bottom-0 -left-1 -right-1 h-1/2 -skew-y-1 bg-green-300"
        ></span>
        <span class="relative">Sobre las fiestas</span>
      </span>
    </h3>
    <article
      class="grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-1 gap-x-12 gap-y-8"
    >
      <div
        class="grid grid-cols-1 sm:grid-cols-2 grid-rows-3 sm:grid-rows-2 grid-flow-col gap-4"
      >
        <div class="row-span-1 bg-green-300 border-2 border-black"></div>
        <div class="row-span-1 bg-green-300 border-2 border-black"></div>
        <div
          class="row-span-1 sm:row-span-2 bg-green-300 border-2 border-black h-60 sm:h-[520px]"
        >
        </div>
      </div>
      <div
        class="flex flex-col justify-start lg:justify-center gap-y-4 text-xl"
      >
        <p>
          Chalk and cheese boursin chalk and cheese. Brie cheese triangles
          pecorino halloumi ricotta bocconcini edam danish fontina. Edam red
          leicester red leicester queso macaroni cheese st. agur blue cheese
          feta who moved my cheese.
        </p>
        <p>
          Cheesy grin blue castello cheddar cheddar red leicester danish fontina
          roquefort goat. Gouda monterey jack fromage frais port-salut fromage
          cream cheese roquefort fromage. Hard cheese pepper.
        </p>
        <p>
          Pepper jack taleggio smelly cheese. Cheesy grin fromage frais halloumi
          stinking bishop bavarian bergkas.
        </p>
      </div>
    </article>
    <a
      href="/fiestas"
      class="py-3 px-4 text-lg bg-black text-background text-center self-center font-semibold font-space transition-transform hover:-translate-y-0.5 duration-100 ease-in"
      >Ver el programa de fiestas</a
    >
  </section>
  <section
    class="flex flex-col items-center gap-y-12 py-12 w-full max-w-5xl mx-auto"
  >
    <h3 class="font-space text-4xl lg:text-6xl">
      <span class="relative">
        <span
          class="block absolute bottom-0 -left-1 -right-1 h-1/2 -skew-y-1 bg-blue-300"
        ></span>
        <span class="relative">Próximos eventos</span>
      </span>
    </h3>
    <article
      class="max-w-xs md:max-w-none grid grid-cols-1 md:grid-cols-3 gap-x-8 gap-y-8 w-full"
    >
      {
        eventsList.map((event) => {
          return <EventCard event={event} />;
        })
      }
    </article>
    <a
      href="/eventos"
      class="py-3 px-4 text-lg bg-black text-background text-center self-center font-semibold font-space transition-transform hover:-translate-y-0.5 duration-100 ease-in"
      >Ver todos los eventos</a
    >
  </section>
</BaseLayout>
