---
const { link, extraClasses, text, target } = Astro.props;
---

<a
  href={link}
  class:list={[
    'py-4 px-6 text-lg lg:text-xl bg-black text-white text-center self-center font-medium font-space transition-color hover:bg-opacity-75 hover:shadow-md duration-100 ease-in rounded-lg flex items-center gap-x-2 group'
  ]}
  target={target}
>
  <span>{text}</span>
  <svg
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6 group-hover:translate-x-0.5 transition-transform duration-100 ease-in"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
  </svg>
</a>
