---
const { title, underlineClasses } = Astro.props;
---

<h1 class="font-space text-5xl sm:text-7xl tracking-wide leading-none">
  <span class="relative">
    <span class:list={['block absolute', underlineClasses]}></span>
    <span class="relative">{title}</span>
  </span>
</h1>
