---

---

<section class="flex flex-col items-center gap-y-12 py-12 w-full">
  <h3 class="font-space text-6xl">
    <span class="relative">
      <span
        class="block absolute bottom-0 -left-1 -right-1 h-1/2 -skew-y-1 bg-red-300"
      ></span>
      <span class="relative">Patrocinadores</span>
    </span>
  </h3>
  <article class="flex gap-x-8 w-full overflow-x-auto px-20 snap-x">
    <div class="border-2 border-black snap-center">
      <div class="w-full h-48 aspect-video bg-red-300"></div>
      <div class="p-4 w-full flex flex-col text-xl border-t-2 border-black">
        <p class="font-bold">Frutería Pérez</p>
      </div>
    </div>
    <div class="border-2 border-black snap-center">
      <div class="w-full h-48 aspect-video bg-red-300"></div>
      <div class="p-4 w-full flex flex-col text-xl border-t-2 border-black">
        <p class="font-bold">Movimiento de tierras Fernández</p>
      </div>
    </div>
    <div class="border-2 border-black snap-center">
      <div class="w-full h-48 aspect-video bg-red-300"></div>
      <div class="p-4 w-full flex flex-col text-xl border-t-2 border-black">
        <p class="font-bold">Carnicería Paco</p>
      </div>
    </div>
    <div class="border-2 border-black snap-center">
      <div class="w-full h-48 aspect-video bg-red-300"></div>
      <div class="p-4 w-full flex flex-col text-xl border-t-2 border-black">
        <p class="font-bold">Carnicería Paco</p>
      </div>
    </div>
    <div class="border-2 border-black snap-center">
      <div class="w-full h-48 aspect-video bg-red-300"></div>
      <div class="p-4 w-full flex flex-col text-xl border-t-2 border-black">
        <p class="font-bold">Carnicería Paco</p>
      </div>
    </div>
  </article>
</section>
