---

---

<footer class="flex flex-col items-center py-12 w-full border-t-2 border-black">
  <p class="text-xl mb-4">¡Síguenos en redes sociales!</p>
  <div class="flex gap-x-4 mb-12">
    <a
      href="https://instagram.com/fiestasguajaralto2024"
      class="hover:underline decoration-2"
      target="_blank">Instagram</a
    >
    <a
      href="https://facebook.com/FiestasGuajarAlto"
      class="hover:underline decoration-2"
      target="_blank">Facebook</a
    >
  </div>
  <a
    href="mailto:fiestasguajaralto2024@gmail.com"
    class="hover:underline decoration-2"
    target="_blank">Contacta con nosotros</a
  >
</footer>
