---

---

<footer class="flex flex-col items-center py-12 w-full bg-brown-90 text-white">
  <p class="text-xl mb-4">¡Síguenos en redes sociales!</p>
  <div class="flex gap-x-4 mb-4">
    <a
      href="https://instagram.com/fiestasguajaralto2024"
      class="hover:bg-black/10 px-3 py-1 rounded-lg transition-colors duration-150"
      target="_blank">Instagram</a
    >
    <a
      href="https://facebook.com/FiestasGuajarAlto"
      class="hover:bg-black/10 px-3 py-1 rounded-lg transition-colors duration-150"
      target="_blank">Facebook</a
    >
  </div>
  <a
    href="mailto:fiestasguajaralto2024@gmail.com"
    class="hover:bg-black/10 px-3 py-1 rounded-lg transition-colors duration-150"
    target="_blank">Contacta con nosotros</a
  >
</footer>
