---

---

<header
  class="fixed top-[16px] max-w-3xl mx-4 md:mx-auto left-0 right-0 flex justify-between px-8 py-4 text-lg z-10 backdrop-blur-md shadow-md bg-white/60 font-medium rounded-xl"
  transition:persist
>
  <a
    href="/"
    class="hover:bg-black/10 font-semibold px-3 py-1 rounded-lg transition-colors duration-150"
    >Guájar Alto 2024</a
  >
  <nav class="hidden lg:flex gap-x-4">
    <a
      href="/eventos"
      class="hover:bg-black/10 px-3 py-1 rounded-lg transition-colors duration-150"
      >Eventos</a
    >
    <a
      href="/fiestas"
      class="hover:bg-black/10 px-3 py-1 rounded-lg transition-colors duration-150"
      >Las fiestas</a
    >
    <a
      href="/pueblo"
      class="hover:bg-black/10 px-3 py-1 rounded-lg transition-colors duration-150"
      >El pueblo</a
    >
    <!-- <a
      href="/patrocinadores"
      class="hover:underline ">Patrocinadores</a
    > -->
  </nav>
  <button class="navigation-button lg:hidden"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </button>
</header>
<script>
  import '../scripts/navigation';
</script>
