---
function navbarClick() {
  console.log('hola que tal');
}
---

<header
  class="fixed top-0 left-0 right-0 flex justify-between px-8 py-4 text-2xl border-b-2 border-black z-10 bg-white shadow-md"
>
  <a href="/">GA '24</a>
  <nav class="hidden lg:flex gap-x-12">
    <a href="/eventos" class="hover:underline decoration-2 underline-offset-2"
      >Eventos</a
    >
    <a href="/fiestas" class="hover:underline decoration-2 underline-offset-2"
      >Las fiestas</a
    >
    <a href="/pueblo" class="hover:underline decoration-2 underline-offset-2"
      >El pueblo</a
    >
    <!-- <a
      href="/patrocinadores"
      class="hover:underline decoration-2 underline-offset-2">Patrocinadores</a
    > -->
  </nav>
  <button class="navigation-button lg:hidden"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </button>
</header>

<script>
  const openSideMenuButton = document.querySelector('button.navigation-button');
  const sideMenu = document.querySelector('#sideMenu') as HTMLElement;
  const bodyContainer = document.querySelector('body') as HTMLElement;

  openSideMenuButton.addEventListener('click', () => {
    sideMenu.style.display = 'flex';
    bodyContainer.style.overflowY = 'hidden';
  });
</script>
