---

---

<header
  class="fixed left-0 right-0 flex justify-between px-8 py-4 text-2xl border-b-2 border-black z-10 bg-white shadow-md"
>
  <a href="/">GA '24</a>
  <nav class="hidden lg:flex gap-x-12">
    <a href="/eventos" class="hover:underline decoration-2 underline-offset-2"
      >Eventos</a
    >
    <a href="/fiestas" class="hover:underline decoration-2 underline-offset-2"
      >Las fiestas</a
    >
    <a href="/pueblo" class="hover:underline decoration-2 underline-offset-2"
      >El pueblo</a
    >
    <!-- <a
      href="/patrocinadores"
      class="hover:underline decoration-2 underline-offset-2">Patrocinadores</a
    > -->
  </nav>
  <p class="lg:hidden">#</p>
</header>
