---
import { ViewTransitions } from 'astro:transitions';
import TheNavigationBar from '../components/TheNavigationBar.astro';
import TheFooter from '../components/TheFooter.astro';
import AsideMenu from '../components/AsideMenu.astro';

import '@fontsource/anton';
import '@fontsource-variable/space-grotesk';
import '@fontsource/dm-sans/400.css';
import '@fontsource/dm-sans/700.css';

const { title } = Astro.props;
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Fiestas Guájar Alto 2024</title>
    <meta
      name="description"
      content="Descubre las emocionantes Fiestas Patronales de Guájar Alto en 2024, un evento lleno de tradición, devoción y diversión. Información sobre las fechas, actividades, el pueblo, gastronomía y mucho más. ¡Únete a la celebración y experimenta la magia de Guájar Alto en estas festividades únicas en su clase!"
    />
    <ViewTransitions />
  </head>
  <body class="h-full bg-white min-h-[100dvh]">
    <TheNavigationBar />
    <main class="min-h-full w-full flex flex-col px-4 py-20 lg:px-0">
      <slot />
    </main>
    <AsideMenu />
    <TheFooter />
  </body>
</html>
